<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>

<body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/js/all.min.js">
  </script>
  <nav class="navbar">
    <div class="container is-max-desktop">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <span class="subtitle">
            <span class="icon-text">
              <span class="icon has-text-primary">
                <i class="fa-solid fa-poop"></i>
              </span>
              <span>Shedding Hub</span>
            </span>
          </span>
        </a>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <div class="navbar-item">
            Data and statistical models for biomarker shedding.
          </div>
        </div>
        <div class="navbar-end">
          <a class="navbar-item" href="https://github.com/shedding-hub/shedding-hub">
            <span class="icon">
              <i class="fab fa-github-alt"></i>
            </span>
          </a>
        </div>
      </div>
    </div>
  </nav>

  {{ content }}
  <script>
    // Separate thousands by a comma if the element has the `separate-thousands` class.
    for (const element of document.getElementsByClassName("separate-thousands")) {
      element.textContent = element.textContent.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
  </script>
</body>

</html>
